/* from my old code: https://github.com/usnistgov/PasswordVizTool/blob/master/Histogram/histogram.html */

/* CUST3: Determines text font */

pgraph {
  font: 10px sans-serif;
}

/* CUST4: Determines axis properties */

.axis text {
  fill: #CCCCCC;
  /* Determines color of axis text (fill: #htmlcolor) */
  text-shadow: -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121;
  /* Determines shadow size and color (#px #px # #htmlcolor) */
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  /* adds stroke to the axis */
  shape-rendering: crispEdges;
}

/* CUST5: Determines graph properties */

.bar {
  fill: orange;
  /* Determines bar graph's bar color (fill: color) */
  fill-opacity: .9;
  /* Determines opacity of bar graph's bars (fill-opacity: #)*/
}

.bar:hover {
  fill: deepskyblue;
  /* Determines bar graph's bar color when hovered over (fill: color) */
}

.x.axis path {
  display: none;
  fill: white;
}

label {
  position: absolute;
  top: 10px;
  /* Determines positioning of checkbox (top: #px; right: #px) */
  right: 10px;
}

/* CUST6: Determines tooltip properties */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  /* Determines font type (font-weight: type) */
  padding: 12px;
  /* Determines text padding (padding: Npx) */
  background: rgba(0, 0, 0, 0.8);
  /* Determines background color of tooltip (background: rgbacode) */
  color: #fff;
  /* Determines color of tooltip (color: #htmlcolor) */
  border-radius: 2px;
  /* Determines tooltip border radius (border-radius: Npx) */
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  /* Determines tooltip font size (font-size: Npx) */
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  /* Determines text alignment (text-align: alignment) */
}

/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
