<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#intro">Welcome</a></li>
          <li><a href="#one">Cost</a></li>
          <li><a href="#two">Popularity</a></li>
          <li><a href="#three">Investment</a></li>
          <li><a href="#four">Analyzer</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>Air List</h1>
        <p>Visualize AirBnB data from San Francisco to maximize your own renting profit and make smarter investments.</p>
        <p><span id="loadPercent">Please wait - page is loading...</span></p>
        <ul class="actions">
          <li>
            <div id="welcome" a href="#one" class="button scrolly">Learn More</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- One/cost -->
    <section id="one" class="wrapper style2 fullscreen fade-up">

      <div class="inner">
        <div id="cost_map" style="width:80%; height:50%; position:absolute">Please wait, map is loading...</div>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br>

        <h2>Cost</h2>
        <p>Heatmap of San Francisco, based off AirBnB prices for each listing.</p>
        <br><br>
    </section>

    <!-- Two/to-do -->
    <section id="two" class="wrapper style3 fade-up">

      <div class="inner">

        <div id="series_chart_div" style="width:80%; height:50%; position:absolute">Please wait, graph is loading...</div>

        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br>
        <button id="b1" class="button special">Flip Axis</button>

        <br><br>

        <h2>Popularity</h2>
        <p>Bubble chart of San Francisco districts, based off number of listings, percent of booked listings, and total number of booked listings.</p>
        <p>Hover over bubbles for more detailed information, and click "Flip Axis" to flip the x and y axes.</p>
        <br><br>
      </div>
    </section>

    <!-- Three/listings -->
    <section id="three" class="wrapper style1 fullscreen fade-up">
      <div class="inner">

        <div id="chart_div" style="width:80%; height:46%; position: absolute">Please wait, graph is loading...</div>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br>

        <div id="container">
        </div>

        <br>

        <h2>Investment</h2>
        <p>Say you want to spend 100 mil on SF AirBnB's. We recommend you invest in Presidio Heights, as you will break even the fastest.</p>
        <p>Click 'Change District' to update the investment graph with the currently selected neighbourhood.</p>

        <br><br>

        <!--packaged from read.js with browserify-->
        <script src="/js/bundleRead.js"></script>

      </div>
    </section>

    <!-- Four/calculator -->
    <section id="four" class="wrapper style2 fullscreen fade-up">
      <div class="inner">
        <h2>Analyzer</h2>
        <p>Thinking about having your own AirBnB?</p>
        <p>Enter your address to find out:
          <br>1. Your estimated weekly average income in the area.
          <br>2. Our recommended price per night to help you maximize bookings and profit.
        </p>

        <div id="locationField">
          <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>

        <script src="/js/estimate.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkz70GPVG_cUhCLbmDg8VfHkiVGZ7KI6U&libraries=visualization,places&callback=initAutocomplete"></script>

        <br><br>

        <table>
          <tbody>
            <tr>
              <!--price estimation-->
              <td>Estimated Weekly Income:</td>
              <td>
                <div id="tablePriceTwo">n/a</div>
              </td>
            </tr>
            <tr>
              <!--bookings optimization-->
              <td>Recommended Daily Rate:</td>
              <td>
                <div id="tablePrice">n/a</div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Footer -->
      <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
          <ul class="menu">
            <li>&copy; Henry Chen. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>

    </section>

    </div>

    <div class="modal">
      <!-- Place at bottom of page -->
    </div>
</body>

</html>
