<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#intro">Welcome</a></li>
          <li><a href="#one">Cost</a></li>
          <li><a href="#two">Reviews</a></li>
          <li><a href="#three">Listings</a></li>
          <li><a href="#four">Analyzer</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>Air List</h1>
        <p>Visualize AirBnB data from San Francisco to maximize your own renting profit and make smarter investments.</p>
        <p><span id="loadPercent">Please wait - page is loading...</span></p>
        <ul class="actions">
          <li>
            <div id="welcome" a href="#one" class="button scrolly">Learn More</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- One/cost -->
    <section id="one" class="wrapper style2 fullscreen fade-up">

      <div class="inner">
        <div id="cost_map" style="width:80%; height:50%; position:absolute">Please wait, map is loading...</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <h2>Cost</h2>
        <p>Heatmap of San Francisco, based off prices of AirBnBs in each location.</p>
        <br><br>
    </section>

    <!-- Two/to-do -->
    <section id="two" class="wrapper style3 fade-up">

      <input type="checkbox" id="sortIt">
      <label><font color="white">Sort values</font></label>
      <div class="features" id="pgraph">banana</div>

      <div class="inner">
        <h2>What we do</h2>
        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>

        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
        <p>banana</p>
      </div>
    </section>

    <!-- Three/listings -->
    <section id="three" class="wrapper style1 fullscreen fade-up">
      <div class="inner">

        <div id="listings_map" style="width:80%; height:50%; position: absolute">Please wait, map is loading...</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <h2>View Current Listings</h2>
        <p>Click on a marker to see listing data.</p>

        <p><i>Data taken as of September, 2017</i></p>
        <p><b>Red:</b> Unavailable.</p>
        <p><b>Yelow:</b> Will be available within a month.</p>
        <p><b>Green:</b> Currently Available.</p>

        <br><br>

        <script src="/js/bundleRead.js"></script>

      </div>
    </section>

    <!-- Four/calculator -->
    <section id="four" class="wrapper style2 fullscreen fade-up">
      <div class="inner">
        <h2>Analyzer</h2>
        <p>Enter your address to find out: 1. Our recommended daily rent to maximize bookings and profit. 2. Your estimated weekly average income in the area.
        </p>

        <div id="locationField">
          <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkz70GPVG_cUhCLbmDg8VfHkiVGZ7KI6U&libraries=visualization,places&callback=initAutocomplete"></script>

        <br><br>

        <table>
          <tbody>
            <tr>
              <!--price estimation-->
              <td>Recommended Daily Rate:</td>
              <td>
                <div id="tablePrice">n/a</div>
              </td>
            </tr>

            <tr>
              <!--bookings optimization-->
              <td>Estimated Weekly Average Income:</td>
              <td>
                <div id="tablePriceTwo">n/a</div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
      <div class="inner">
        <ul class="menu">
          <li>&copy; Henry Chen. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <div class="modal">
      <!-- Place at bottom of page -->
    </div>
</body>

</html>
