<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#intro">Welcome</a></li>
          <li><a href="#one">Cost</a></li>
          <li><a href="#two">Reviews</a></li>
          <li><a href="#three">Listings</a></li>
          <li><a href="#four">Estimator</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>Air List</h1>
        <!--<p>Just another fine responsive site template designed by <a href="http://html5up.net">HTML5 UP</a><br />
        and released for free under the <a href="http://html5up.net/license">Creative Commons</a>.</p>-->
        <p>Visualize AirBnB data from San Francisco to maximize your own renting profit and make smarter investments.</p>
        <ul class="actions">
          <li><a href="#one" class="button scrolly">Learn more</a></li>
        </ul>
      </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 fullscreen fade-up">
      <div class="inner">
        <h2>Cost</h2>
        <p>Heatmap of San Francisco, based off average price of an AirBnB in each location.</p>

        <img src="https://github.com/henryyc/air-list/tree/master/images/temo.png" alt="heatmap"><br>

        <img src="http://www.glenrobertson.co.nz/images/trulia-san-francisco-crime.png" alt="crimemap">

    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3 fade-up">
      <div class="inner">
        <h2>What we do</h2>
        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
        <div class="features">
          <section>
            <span class="icon major fa-code"></span>
            <h3>Lorem ipsum amet</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
          <section>
            <span class="icon major fa-lock"></span>
            <h3>Aliquam sed nullam</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
          <section>
            <span class="icon major fa-cog"></span>
            <h3>Sed erat ullam corper</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
          <section>
            <span class="icon major fa-desktop"></span>
            <h3>Veroeros quis lorem</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
          <section>
            <span class="icon major fa-chain"></span>
            <h3>Urna quis bibendum</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
          <section>
            <span class="icon major fa-diamond"></span>
            <h3>Aliquam urna dapibus</h3>
            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
          </section>
        </div>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h2>View Current Listings</h2>
        <p>Click on a marker to see listing data</p>

        <div class="map">
        </div>

        <script src="/js/graphs.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkz70GPVG_cUhCLbmDg8VfHkiVGZ7KI6U&libraries=places"></script>

        <script src="bundle.js"></script>
        <script src="/js/read.js"></script>

      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style2 fullscreen fade-up">
      <div class="inner">
        <h2>Estimator</h2>
        <p>Enter your address to find out how much you should rent.</p>

        <div id="locationField">
          <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>
        <script src="/js/estimate.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkz70GPVG_cUhCLbmDg8VfHkiVGZ7KI6U&libraries=places&callback=initAutocomplete"></script>

          <!--<table class="alt">
            <td>Daily Rate:</td>
            <td><div id="tablePrice">n/a</div></td>
          </table>-->

        <br><br><pre><code>Recommended Daily Rate:<div id="tablePrice">n/a</div></code></pre>
      </div>

    </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
      <div class="inner">
        <ul class="menu">
          <li>&copy; Henry Chen. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

</body>

</html>
